{% extends 'fss/base.html' %}
{% load static %}


{% block content %}
    <h1>Добро пожаловать на главную страницу!</h1>
<h4><p><b>Автоматизированная система учета и предложений ШГПУ</b> — это современная веб-платформа, предназначенная для автоматизации процессов учета предложений, жалоб и отзывов от преподавателей и сотрудников. Система позволяет эффективно собирать, обрабатывать и хранить информацию о предложениях, что помогает улучшать качество образовательного процесса и внутреннюю организацию работы университета. </p></h4>
<!--     {% if user.is_authenticated %}-->
<!--        <a href="#">Logout</a>-->
<!--     {% else %}-->
<!--     <a href="#">Login</a>-->
<!--    {% endif %}-->
    {% if messages %}
        <ul class="message">
            {% for message in messages %}
                <li class="alert {{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
 {% endif %}
{% endblock %}

