{% extends 'fss/base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">
        {% if form.instance.pk %}Редактирование предложения{% else %}Создание черновика{% endif %}
    </h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label  class="form-label">Заголовок предложения</label>
            {{ form.title }}
            <div class="invalid-feedback">Пожалуйста, введите заголовок.</div>
        </div>

        <div class="mb-3">
            <label  class="form-label">Описание предложения</label>
            {{ form.description }}
            <div class="invalid-feedback">Пожалуйста, введите описание.</div>
        </div>

        <div class="mb-3">
            <label  class="form-label">Категория</label>
            {{ form.category }}
            <div class="invalid-feedback">Пожалуйста, выберите категорию.</div>
        </div>

<!--        <div class="mb-3">-->
<!--            <label  class="form-label">Подразделение</label>-->
<!--            {{ form.division }}-->
<!--            <div class="invalid-feedback">Пожалуйста, выберите подразделение.</div>-->
<!--        </div>-->

        <button type="submit" class="btn btn-primary">
            {% if form.instance.pk %}Сохранить изменения{% else %}Создать черновик{% endif %}
        </button>
        <a href="{% url 'my_suggestions' %}" class="btn btn-secondary">Отмена</a>
    </form>
</div>
{% endblock %}